<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StoreCulture" value="es-co"/>
    <add key="PhoneStoreBaseUri" value="http://www.windowsphone.com/{0}/store/app/dummy/{1}"/>
    <add key="WindowsStoreBaseUri" value="http://apps.microsoft.com/windows/{0}/app/dummy/{1}"/>
  </appSettings>
</configuration>